python-telegram-bot==22.5
yt-dlp>=2024.10.7
python-nmap==0.6.1
git+https://github.com/savon-noir/python-libnmap.git@master
python-whois==0.7.3
requests==2.31.0
httpx==0.28.1
pytz
wget
asyncio
google-generativeai>=0.8.3
