# requirements.txt - minimal & deploy-friendly

python-telegram-bot==22.5
yt-dlp>=2024.10.7
python-nmap==0.6.1
libnmap==0.7.5
python-whois==0.7.3
requests==2.31.0
httpx==0.28.1
pytz
wget
asyncio


